name: RAG CI Pipeline
env:
  CI: true
  
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10.x'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run evaluation
      run: python -m src.evaluation.benchmark